workflows_export_n8n.txt
[{"updatedAt":"2025-11-08T21:01:06.000Z","createdAt":"2025-11-08T19:01:23.557Z","id":"k06wrZQAyDI2sIQb","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-368,-32],"id":"dd1a2207-5c20-4718-8070-2eb0fa7f100b","name":"When chat message received","webhookId":"16a0f2b9-0012-4cc4-9093-a6915991024b"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-160,-32],"id":"8beeed8e-66a3-446f-b608-7f389381a394","name":"AI Agent"},{"parameters":{"model":"qwen2.5:32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-304,176],"id":"8580e3b6-bf83-412b-8fc1-1abafe7826cd","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-160,176],"id":"6190ac4e-7e6d-4a10-94c7-42ae5cfaaa52","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Jt19l02bQ4Rtq15M","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Vector collecyion for Alpaca","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[112,144],"id":"074475bf-a971-4c9e-a980-a87007ac63a5","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"model":"bge-m3:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[48,320],"id":"34bcb20e-ab48-4224-8bf4-61fb68583147","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{"triggerOn":"folder","path":"/home/node/monitored_folder","events":["add","change","unlink"],"options":{"awaitWriteFinish":true,"followSymlinks":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-672,592],"id":"03b52928-ac52-479d-b43d-763139858d6a","name":"Local File Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84bb2f2f-b62d-4a41-83eb-6f96cb1d0642","leftValue":"={{ $json.event }}","rightValue":"change","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,592],"id":"3c27a7c9-61eb-4bcb-9213-1c8e6ca1ae12","name":"If"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.path }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-176,496],"id":"4410a610-a4a0-4229-81d0-aa2fc2073e78","name":"Delete a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"fileSelector":"={{ $('Local File Trigger').item.json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[32,496],"id":"8180ec4b-888f-4b39-9aaa-87622ed1a8a2","name":"Read/Write Files from Disk"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[240,496],"id":"3bc4ffef-8c24-4730-b410-3a6a2e3d34ea","name":"Extract from File"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[448,496],"id":"f0594ee4-340d-403e-8294-8985762649be","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"model":"bge-m3:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[352,736],"id":"ee509d0f-08fc-4ac3-9af1-eb745e516238","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{  $('Local File Trigger').item.json.path  }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[592,704],"id":"17b7a34a-6cc2-4460-af84-dd58f0d65422","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[688,828.2050528793333],"id":"23407c2f-dbbd-41e0-8591-d82e229e054b","name":"Character Text Splitter"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Local File Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Delete a row","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e480e72a-26d1-45dc-a3a4-227531538e26","versionCounter":10,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-11-08T19:01:23.558Z","createdAt":"2025-11-08T19:01:23.558Z","role":"workflow:owner","workflowId":"k06wrZQAyDI2sIQb","projectId":"yk5T99OIAeD8Y4L2","project":{"updatedAt":"2025-11-08T18:51:00.834Z","createdAt":"2025-11-08T18:46:50.052Z","id":"yk5T99OIAeD8Y4L2","name":"Alpaca Smart <andrey.bch.1976@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-11-08T22:22:42.000Z","createdAt":"2025-11-08T20:46:15.015Z","id":"gC1L3YqY1NdLbUCT","name":"Демо простейший RAG","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-368,-32],"id":"1e42d559-9c95-4c04-8e72-548ac74519b7","name":"When chat message received","webhookId":"02eb31fb-39e3-4f8a-b042-eff814cb4535"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-160,-32],"id":"8a77c9c0-c2c3-4d34-b996-f1bda8ec2172","name":"AI Agent"},{"parameters":{"model":"qwen2.5:32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-304,176],"id":"da4314c6-39d0-4c60-ba06-7ac68c5cef63","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-160,176],"id":"d7b1b5dc-b715-423b-998a-51541ff673b0","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Jt19l02bQ4Rtq15M","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Vector collecyion for Alpaca","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[112,144],"id":"cfe1a5bb-746a-4ecc-8467-2aaea5429461","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"model":"bge-m3:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[48,320],"id":"a339d546-db19-4ae5-960f-ff13215a2b11","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.path }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,624],"id":"73996fab-856b-49f9-9c06-4fbdd585ad74","name":"Delete a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"fileSelector":"={{ $('Local File Trigger').item.json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[32,496],"id":"c90de3b5-1738-4ec5-ba94-01cc9159ee78","name":"Read/Write Files from Disk"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1104,560],"id":"ed9dcd82-3dcf-4ed1-9819-b5e009b3e17c","name":"Extract from File"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[688,480],"id":"f8872c5c-b9d4-4176-bbe0-4b63303e5c49","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"model":"bge-m3:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[560,880],"id":"e8769cfb-5f3f-4a5c-9e6d-c0cab5a6f35b","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{  $('Local File Trigger').item.json.path  }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[736,736],"id":"1a3237d6-cba6-47ac-a153-b2d797a94a64","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[880,864],"id":"b5ecd717-ed2b-4dba-8b78-a9c4721912a1","name":"Character Text Splitter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"add","operator":{"type":"string","operation":"equals"},"id":"179bc737-0018-4b85-bafd-11254ce3bd07"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"413f9cad-8b18-410c-a43d-0d8288aded69","leftValue":"={{ $json.event }}","rightValue":"change","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af22f3b5-1860-454c-ac7e-cb4c7ca8e6cb","leftValue":"={{ $json.event }}","rightValue":"unlink","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-640,608],"id":"b650b60d-1322-4677-8257-47026b8ddafb","name":"Switch"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.path }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,816],"id":"e064bc09-eef9-4546-969b-448ee81b820a","name":"Delete a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"triggerOn":"folder","path":"/home/node/monitored_folder","events":["add","change","unlink"],"options":{"awaitWriteFinish":true,"followSymlinks":true,"ignoreInitial":false,"usePolling":false}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-896,624],"id":"05c31499-5ff5-45b0-ab13-6b0603826c55","name":"Local File Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-736,1056],"id":"fe1cb1a9-e753-43c2-8d8c-b668bdd22426","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-528,1072],"id":"cd5064ac-61f6-46eb-a005-32ea22c286cd"},{"parameters":{"promptType":"define","text":"=Ты талантливый русский поэт, сочиняешь четверостишья всегда. Особено когда тебе показывают название файла. Ты сразу сочиняешь стихотворение с этим названием. Вот и сейча тебе дали такое название - {{ $json.fileName }}. Сочини короткий стишок.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[288,480],"id":"8d40bb0a-769e-4c11-bcd7-650b826b0f76","name":"AI Agent1"},{"parameters":{"model":"qwen2.5:32b","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[256,752],"id":"1388ccfe-00f3-4628-af6d-01e68962f046","name":"Ollama Chat Model1","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Delete a row":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Extract from File":{"main":[[]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Switch":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}],[{"node":"Delete a row","type":"main","index":0}],[{"node":"Delete a row1","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc8e278f-0a5a-48fc-8dac-371560acd5d6","versionCounter":55,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-11-08T20:46:15.020Z","createdAt":"2025-11-08T20:46:15.020Z","role":"workflow:owner","workflowId":"gC1L3YqY1NdLbUCT","projectId":"yk5T99OIAeD8Y4L2","project":{"updatedAt":"2025-11-08T18:51:00.834Z","createdAt":"2025-11-08T18:46:50.052Z","id":"yk5T99OIAeD8Y4L2","name":"Alpaca Smart <andrey.bch.1976@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-11-08T21:00:54.663Z","createdAt":"2025-11-08T21:00:54.663Z","id":"Fir3YqopOETTTJw0","name":"Демо простейший RAG copy","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{},"path":"3a7bc4ed-cfcb-4b7e-84d1-b705417ea630"},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-368,-32],"id":"dd4e53d2-f95f-4640-9531-384c757dda9d","name":"When chat message received","webhookId":"3a7bc4ed-cfcb-4b7e-84d1-b705417ea630"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-160,-32],"id":"72782c1d-7420-45b8-9972-5b4658bf64ab","name":"AI Agent"},{"parameters":{"model":"qwen2.5:32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-304,176],"id":"535a1733-4880-4225-8528-0515b7c03435","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-160,176],"id":"54d319b8-b060-4d8a-8cd9-5e06e1515e81","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Jt19l02bQ4Rtq15M","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Vector collecyion for Alpaca","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[112,144],"id":"fac5ac27-a66b-4b72-bbcd-17017c1ea462","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"model":"bge-m3:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[48,320],"id":"e9d4a8ed-a0a4-46d3-a64a-781d18663792","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{"triggerOn":"folder","path":"/home/node/monitored_folder","events":["add","change","unlink"],"options":{"awaitWriteFinish":true,"followSymlinks":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-896,624],"id":"937c37a0-7662-44dc-abc7-603183be6260","name":"Local File Trigger"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.path }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,624],"id":"b133f507-b3a6-4879-889a-3450e6e28b58","name":"Delete a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"fileSelector":"={{ $('Local File Trigger').item.json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[32,496],"id":"2e2dcea4-86ee-44d4-8af7-0c9d405dd853","name":"Read/Write Files from Disk"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[240,496],"id":"e969cf1b-3edd-45dc-a0f1-02102733a820","name":"Extract from File"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[448,496],"id":"2c65e9ae-d8ad-4f24-a265-e9ef53bf41d2","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}},{"parameters":{"model":"bge-m3:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[352,736],"id":"e4b3bd85-ff00-4749-89bc-074c54ce177a","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"3b7DlwbEX4EzmOj4","name":"Ollama account"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{  $('Local File Trigger').item.json.path  }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[592,704],"id":"70fac64d-ff7c-4c83-ac16-1d9a114b4c42","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[688,832],"id":"3b910ddb-afa1-4a6b-9f51-be34c9ff8eda","name":"Character Text Splitter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"add","operator":{"type":"string","operation":"equals"},"id":"179bc737-0018-4b85-bafd-11254ce3bd07"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"413f9cad-8b18-410c-a43d-0d8288aded69","leftValue":"={{ $json.event }}","rightValue":"change","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af22f3b5-1860-454c-ac7e-cb4c7ca8e6cb","leftValue":"={{ $json.event }}","rightValue":"unlink","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-640,608],"id":"9dbf1fd5-0373-4554-a843-5a0fcbeb95ff","name":"Switch"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.path }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,816],"id":"750a6a2d-8df6-4a55-bfef-37de302f4167","name":"Delete a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"P4MpQZwLzRMg3kSb","name":"Supabase account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Local File Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Switch":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}],[{"node":"Delete a row","type":"main","index":0}],[{"node":"Delete a row1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5914933-9d4a-45d1-9f46-36fd73dd3514","versionCounter":13,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-11-08T21:00:54.664Z","createdAt":"2025-11-08T21:00:54.664Z","role":"workflow:owner","workflowId":"Fir3YqopOETTTJw0","projectId":"yk5T99OIAeD8Y4L2","project":{"updatedAt":"2025-11-08T18:51:00.834Z","createdAt":"2025-11-08T18:46:50.052Z","id":"yk5T99OIAeD8Y4L2","name":"Alpaca Smart <andrey.bch.1976@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-11-08T22:02:04.585Z","createdAt":"2025-11-08T22:02:04.585Z","id":"CWaQ93LFP69y4VyO","name":"Demo: RAG in n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldLabel":"Upload your file(s)","fieldType":"file","acceptFileTypes":".pdf, .csv","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-128,0],"id":"f7a656ec-83fc-4ed2-a089-57a9def662b7","name":"Upload your file here","webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[528,480],"id":"6ea78663-cf2f-4f2d-8e68-43047c2afd87","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"14","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[320,160],"id":"94aecac0-03f9-4915-932b-d14a2576607b","name":"Default Data Loader"},{"parameters":{"content":"### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).","height":300,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-656,-64],"typeVersion":1,"id":"0d07742b-0b36-4c2e-990c-266cbe6e2d4d","name":"Sticky Note"},{"parameters":{"content":"### 📚 Load Data Flow","height":460,"width":700,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-176,-64],"typeVersion":1,"id":"d19d04f3-5231-4e47-bed7-9f24a4a8f582","name":"Sticky Note1"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"vector_store_key","mode":"list","cachedResultName":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[64,0],"id":"bf50a11f-ca6a-4e04-a6d2-42fee272b260","name":"Insert Data to Store"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"mode":"list","value":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[944,208],"id":"09c0db62-5413-440e-8c13-fb6bb66d9b6a","name":"Query Data Tool"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[944,-16],"id":"579aed76-9644-42d1-ac13-7369059ff1c2","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[720,-16],"id":"9c30de61-935a-471f-ae88-ec5f67beeefc","name":"When chat message received","webhookId":"4091fa09-fb9a-4039-9411-7104d213f601"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,208],"id":"b5aa8942-9cd5-4c2f-bd77-7a0ceb921bac","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"14","name":"OpenAi account"}}},{"parameters":{"content":"### 🐕 2. Retriever Flow","height":460,"width":680,"color":7},"type":"n8n-nodes-base.stickyNote","position":[608,-64],"typeVersion":1,"id":"28bc73a1-e64a-47bf-ac1c-ffe644894ea5","name":"Sticky Note2"},{"parameters":{"content":"### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n","height":240,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,448],"typeVersion":1,"id":"0cf8c647-418c-4d1a-8952-766145afca72","name":"Sticky Note3"}],"connections":{"Upload your file here":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"rag-starter-template"},"pinData":{},"versionId":"4112b121-9e0b-42d0-98a5-28ec1f880d3a","versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-08T22:02:04.587Z","createdAt":"2025-11-08T22:02:04.587Z","role":"workflow:owner","workflowId":"CWaQ93LFP69y4VyO","projectId":"yk5T99OIAeD8Y4L2","project":{"updatedAt":"2025-11-08T18:51:00.834Z","createdAt":"2025-11-08T18:46:50.052Z","id":"yk5T99OIAeD8Y4L2","name":"Alpaca Smart <andrey.bch.1976@gmail.com>","type":"personal","icon":null,"description":null}}]}]